@tailwind base;
@tailwind components;
@tailwind utilities;

.slot-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}


@keyframes spin {
  0%   {    transform: translateY(0px) }
  100%   {    transform: translateY(-290px) }
}
