@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.boxes {
  transition: transform 1s ease-in-out;
}